@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

html,
body
{
    color: whitesmoke;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;  
}

header,.left_head,.right_head,footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left_head, .right_head,footer{
    font-size: 70%;
}


.left_head h2, .right_head h2, .footer_left, .footer_right{
    margin: 2vh 3vh 3vh 3vh;
}

.title{
    font-weight: 400;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid whitesmoke ;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

#spacer1,#spacer2,#spacer5,#spacer6{
    height: 100vh;
    /* border-bottom: 1px solid red; */
}

#spacer4{
    height: 120vh;
    /* border-bottom: 1px solid blue; */
}

#spacer3{
    height: 150vh;
    /* border-bottom: 1px solid green; */
}

#loading-screen {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 1;
    transition: 2s opacity;
}


#loading-screen.fade-out {
    opacity: 0;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}